.container {
  display: flex;
  justify-content: center; /* Alinea horizontalmente */
  align-items: center; /* Alinea verticalmente */
  height: 10vh; /* Ajusta si necesitas */
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
}