<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-button class="bttn" shape="round" gravity="center" routerLink="/login">Login</ion-button>
    <ion-button class="bttn" shape="round" gravity="center" routerLink="/register">Register</ion-button>
  </div>

  
  
</ion-content>

